# Import the Pandas and Numpy

In [1]:
import pandas as pd 
import numpy as np

# Importing the data

In [2]:
df=pd.read_csv('EcomPur.csv')
print(df)

                                                Address    Lot AM or PM  \
0     16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  46 in       PM
1     9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  28 rn       PM
2                      Unit 0065 Box 5052\nDPO AP 27450  94 vE       PM
3                 7780 Julia Fords\nNew Stacy, WA 45798  36 vm       PM
4     23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  20 IE       AM
...                                                 ...    ...      ...
9995      966 Castaneda Locks\nWest Juliafurt, CO 96415  92 XI       PM
9996  832 Curtis Dam Suite 785\nNorth Edwardburgh, T...  41 JY       AM
9997              Unit 4434 Box 6343\nDPO AE 28026-0283  74 Zh       AM
9998               0096 English Rest\nRoystad, IA 12457  74 cL       PM
9999     40674 Barrett Stravenue\nGrimesville, WI 79682  64 Hr       AM

                                           Browser Info  \
0     Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1     Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2     Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3     Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4     Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
...                                                 ...
9995  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997  Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999  Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...

                              Company   Credit Card CC Exp Date  \
0                     Martinez-Herman  6.011929e+15      Feb-20
1     Fletcher, Richards and Whitaker  3.337758e+15      Nov-18
2          Simpson, Williams and Pham  6.759580e+11      Aug-19
3     Williams, Marshall and Buchanan  6.011579e+15      Feb-24
4           Brown, Watson and Andrews  6.011457e+15      Oct-25
...                               ...           ...         ...
9995                    Randall-Sloan  3.429450e+14      Mar-22
9996         Hale, Collins and Wilson  2.100330e+14      Jul-25
9997                     Anderson Ltd  6.011540e+15      May-21
9998                         Cook Inc  1.800030e+14      Nov-17
9999                       Greene Inc  4.139973e+15      Feb-19

      CC Security Code                  CC Provider  \
0                  900                 JCB 16 digit
1                  561                   Mastercard
2                  699                 JCB 16 digit
3                  384                     Discover
4                  678  Diners Club / Carte Blanche
...                ...                          ...
9995               838                 JCB 15 digit
9996               207                 JCB 16 digit
9997                 1                VISA 16 digit
9998               987             American Express
9999               302                 JCB 15 digit

                               Email                                     Job  \
0                  pdunlap@yahoo.com  Scientist, product/process development
1                 anthony41@reed.com                       Drilling engineer
2     amymiller@morales-harrison.com                Customer service manager
3        brent16@olson-robinson.info                       Drilling engineer
4        christopherwright@gmail.com                             Fine artist
...                              ...                                     ...
9995          iscott@wade-garner.com                              Printmaker
9996              mary85@hotmail.com                         Energy engineer
9997               tyler16@gmail.com                      Veterinary surgeon
9998         elizabethmoore@reid.net                Local government officer
9999           rachelford@vaughn.com                  Embryologist, clinical

           IP Address Language  Purchase Price
0     149.146.147.205       el           98.14
1        15.160.41.51       fr           70.73
2      132.207.160.22       de            0.95
3        30.250.74.19       es           78.04
4        24.140.33.94       es           77.82
...               ...      ...             ...
9995    29.73.197.114       it           82.21
9996   121.133.168.51       pt           25.63
9997    156.210.0.254       el           83.98
9998     55.78.26.143       es           38.84
9999  176.119.198.199       el           67.59

[10000 rows x 14 columns]

# 1. Display Top 10 Rows of The Dataset

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011929e+15,Feb-20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337758e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011579e+15,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011457e+15,Oct-25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

# 2. Check Last 10 Rows of The Dataset

In [4]:
df.tail(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9990,"75731 Molly Springs\nWest Danielle, VT 96934-5102",93 ty,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_7_4;...,"Pace, Vazquez and Richards",8.699680e+14,Apr-24,877,JCB 15 digit,andersonmichael@sherman.biz,Early years teacher,54.170.3.185,ru,18.35
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4.221582e+15,Feb-24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4.664825e+15,Oct-20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,3.002560e+13,Oct-25,629,Maestro,chelseawilliams@lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3.112187e+15,Jan-25,1823,Maestro,iroberts@gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,3.429450e+14,Mar-22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",2.100330e+14,Jul-25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6.011540e+15,May-21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,1.800030e+14,Nov-17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4.139973e+15,Feb-19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

# 3. Check Datatype of Each Column

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  float64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB

# 4. Check null values in the dataset

In [6]:
df.isnull()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isna().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

# 5. How many rows and columns are there in our Dataset?

In [8]:
df.shape

(10000, 14)

In [9]:
#Number of Rows 
df.shape[0]

10000

In [10]:
#Number of Columns
df.shape[1]

14

# 6. Highest and Lowest Purchase Prices.

In [11]:
#Step:1 Retrive all the Column names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [12]:
#Step:2 Retrive the Purchase Price Column
df['Purchase Price']

0       98.14
1       70.73
2        0.95
3       78.04
4       77.82
        ...
9995    82.21
9996    25.63
9997    83.98
9998    38.84
9999    67.59
Name: Purchase Price, Length: 10000, dtype: float64

In [13]:
#Step:3 Finding the max Value of Purchase Price Column 
df['Purchase Price'].max()

99.99

In [14]:
#Step:4 Finding the max Value of Purchase Price Column 
df['Purchase Price'].min()

0.0

# 7. Average Purchase Price

In [15]:
#Step:1 Finding the mean of Purchase Column 
df['Purchase Price'].mean()

50.347302

# 8. How many people have French 'fr' as their Language?

In [16]:
#Step:1 Retrive all the Column names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [17]:
#Step:2 Retrive the Language Column
df['Language']

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object

In [18]:
#Step:3 Finding that which column contains 'fr'
df['Language']=='fr'   #gives boolean data

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Language, Length: 10000, dtype: bool

In [19]:
#Step:4 Pass that boolean data to the data frame to retrive the related row data 
df[df['Language']=='fr']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337758e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
19,"125 Hall Summit\nBoothton, IL 41721",99 CU,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Turner-Mckinney,6.763440e+11,Feb-20,440,VISA 16 digit,ruiznicole@gmail.com,"Designer, interior/spatial",25.105.209.214,fr,58.39
53,"PSC 9431, Box 7059\nAPO AA 29285-1363",14 qD,AM,Opera/9.34.(X11; Linux x86_64; it-IT) Presto/2...,"Higgins, Cardenas and Kennedy",8.699730e+14,Aug-17,157,JCB 16 digit,amorales@yahoo.com,Technical author,44.108.117.122,fr,10.41
76,"49206 Campbell Port\nNorth Cliffordshire, HI 3...",71 iu,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_9...,Jacobs-Tucker,6.011344e+15,Jan-17,806,Voyager,eperez@hotmail.com,Paramedic,210.207.58.168,fr,57.34
82,493 Smith Valleys Suite 004\nNew Madelineville...,35 ls,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_0 like M...,"Robinson, Johnston and Valdez",4.351360e+15,Jun-17,937,VISA 13 digit,amendez@yahoo.com,"Engineer, materials",163.129.163.100,fr,49.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9941,"43757 Brown Lodge\nValerieberg, PR 88518",68 DG,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,"Jones, Williams and Dunn",6.011508e+15,Apr-26,906,Mastercard,christian55@gmail.com,Secondary school teacher,216.118.235.145,fr,60.03
9947,"32827 Carl Inlet\nSouth Nicole, NY 38081-6636",40 Dp,PM,Mozilla/5.0 (Windows; U; Windows 95) AppleWebK...,Pruitt-Flores,3.158564e+15,Mar-17,386,Mastercard,josephsmith@gmail.com,Textile designer,198.68.38.23,fr,49.61
9951,"518 Brown Dam\nGarciaside, IN 33057",71 wq,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,"Crosby, Vasquez and Ballard",5.256758e+15,Dec-17,146,VISA 16 digit,cjennings@yahoo.com,"Lighting technician, broadcasting/film/video",58.12.83.1,fr,57.59
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4.186094e+15,Jun-21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9980,"6061 Dave Lights\nPhillipsview, UT 40500",25 Mv,AM,Opera/8.58.(Windows NT 5.0; it-IT) Presto/2.9....,Cortez-Frye,6.011944e+15,Dec-24,755,JCB 15 digit,mark74@kirby-stewart.org,Textile designer,110.103.77.195,fr,16.05

In [20]:
#Step:5 Finding the Number of people who speak 'fr'
len(df[df['Language']=='fr'])

1097

# 9. Job Title Contains Engineer

In [21]:
#Step:1 Retrive all the Column names 
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [22]:
#Step:2 Retrive the Job Column
df['Job']

0       Scientist, product/process development
1                            Drilling engineer
2                     Customer service manager
3                            Drilling engineer
4                                  Fine artist
                         ...
9995                                Printmaker
9996                           Energy engineer
9997                        Veterinary surgeon
9998                  Local government officer
9999                    Embryologist, clinical
Name: Job, Length: 10000, dtype: object

In [23]:
#Step:3 Finding the given condition 
df['Job'].str.contains('engineer',case=False)   #Gives boolean data

0       False
1        True
2       False
3        True
4       False
        ...
9995    False
9996     True
9997    False
9998    False
9999    False
Name: Job, Length: 10000, dtype: bool

In [24]:
#Step:4 Passing that boolean data to the Data frame Object
df[df['Job'].str.contains('engineer',case=False)]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337758e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011579e+15,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
50,"41159 Michael Centers\nAdamsfort, RI 37108-6674",46 Ce,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90; sl-SI; r...,"Wright, Williams and Mendez",4.008586e+15,May-19,945,JCB 16 digit,susanvalentine@obrien.org,Mechanical engineer,213.203.143.215,de,36.85
55,"27635 Maureen Bypass Apt. 883\nSandraview, SD ...",59 LJ,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sims-Lyons,3.158114e+15,Sep-19,857,VISA 16 digit,adkinsarthur@yahoo.com,"Engineer, broadcasting (operations)",227.235.89.210,pt,48.74
60,"7126 Katherine Squares\nPerkinsview, CO 97299-...",63 qu,AM,Opera/8.68.(X11; Linux x86_64; en-US) Presto/2...,Marshall-Fernandez,3.497680e+14,May-20,672,JCB 15 digit,sweeneyhannah@jones.biz,"Engineer, agricultural",197.144.142.102,de,20.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4.762920e+12,Mar-17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9952,"9991 Vaughn Hills\nRacheltown, PA 55409",36 KC,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Ward, Smith and Castillo",6.011679e+15,Sep-19,964,Voyager,jonesjennifer@olson.com,"Engineer, energy",116.228.12.42,es,39.63
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6.011486e+15,Jul-19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4.186094e+15,Jun-21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",2.100330e+14,Jul-25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63

In [25]:
#Step:5 Getting only the job titles from the dataset 
df[df['Job'].str.contains('engineer',case=False)]['Job']

1                         Drilling engineer
3                         Drilling engineer
50                      Mechanical engineer
55      Engineer, broadcasting (operations)
60                   Engineer, agricultural
                       ...
9948                    Structural engineer
9952                       Engineer, energy
9970                    Electrical engineer
9977                    Biomedical engineer
9996                        Energy engineer
Name: Job, Length: 984, dtype: object

In [26]:
#Step:6 Printing all the jobs that contain engineer word
for val in df[df['Job'].str.contains('engineer',case=False)]['Job']:
    print(val)

Drilling engineer
Drilling engineer
Mechanical engineer
Engineer, broadcasting (operations)
Engineer, agricultural
Engineer, civil (consulting)
Engineer, materials
Engineer, land
Engineer, water
Technical sales engineer
Engineer, aeronautical
Engineering geologist
Engineer, chemical
Engineer, building services
Energy engineer
Water engineer
Software engineer
Engineer, civil (consulting)
Engineer, civil (contracting)
Structural engineer
Mining engineer
Engineer, energy
Manufacturing systems engineer
Control and instrumentation engineer
Consulting civil engineer
Engineer, structural
Site engineer
Engineer, building services
Mining engineer
Engineer, maintenance (IT)
Consulting civil engineer
Petroleum engineer
Engineer, maintenance
Communications engineer
Energy engineer
Civil engineer, consulting
Engineer, production
Mining engineer
Engineer, energy
Engineer, communications
Engineer, drilling
Engineer, control and instrumentation
Engineer, site
Automotive engineer
Contracting civil engineer
Maintenance engineer
Broadcast engineer
Engineer, manufacturing
Structural engineer
Energy engineer
Petroleum engineer
Agricultural engineer
Petroleum engineer
Engineer, petroleum
Engineer, maintenance
Engineering geologist
Engineer, civil (consulting)
Electrical engineer
Engineer, maintenance
Manufacturing engineer
Engineer, land
Engineering geologist
Technical sales engineer
Contracting civil engineer
Control and instrumentation engineer
Chemical engineer
Water engineer
Software engineer
Drilling engineer
Biomedical engineer
Broadcast engineer
Engineer, civil (consulting)
Civil engineer, contracting
Maintenance engineer
Engineer, broadcasting (operations)
Materials engineer
Electrical engineer
Agricultural engineer
Network engineer
Engineer, structural
Maintenance engineer
Engineer, electrical
Engineer, building services
Contracting civil engineer
Engineer, manufacturing
Technical sales engineer
Chemical engineer
Petroleum engineer
Engineer, automotive
Contracting civil engineer
Engineer, control and instrumentation
Engineering geologist
Geologist, engineering
Engineer, manufacturing systems
Petroleum engineer
Site engineer
Engineer, production
Network engineer
Energy engineer
Building services engineer
Drilling engineer
Site engineer
Control and instrumentation engineer
Engineering geologist
Engineer, agricultural
Engineer, land
Manufacturing engineer
Geologist, engineering
Contracting civil engineer
Geologist, engineering
Production engineer
Control and instrumentation engineer
Production engineer
Chemical engineer
Engineer, maintenance
Engineer, maintenance (IT)
Engineer, water
Drilling engineer
Control and instrumentation engineer
Engineer, maintenance (IT)
Engineer, land
Engineer, communications
Software engineer
Engineer, land
Engineer, energy
Production engineer
Control and instrumentation engineer
Engineer, mining
Engineer, manufacturing
Engineer, water
Manufacturing systems engineer
Maintenance engineer
Engineer, electronics
Engineer, civil (contracting)
Engineer, site
Engineer, land
Communications engineer
Geologist, engineering
Manufacturing engineer
Engineer, aeronautical
Materials engineer
Site engineer
Engineer, civil (contracting)
Engineer, agricultural
Manufacturing systems engineer
Engineer, broadcasting (operations)
Engineer, manufacturing systems
Drilling engineer
Production engineer
Technical sales engineer
Engineer, maintenance (IT)
Engineer, control and instrumentation
Broadcast engineer
Engineer, production
Engineer, civil (contracting)
Engineer, energy
Control and instrumentation engineer
Civil engineer, consulting
Engineer, electronics
Engineer, biomedical
Chemical engineer
Network engineer
Mining engineer
Engineer, electrical
Chemical engineer
Production engineer
Engineer, broadcasting (operations)
Aeronautical engineer
Petroleum engineer
Building services engineer
Engineer, maintenance
Civil engineer, contracting
Engineer, energy
Mechanical engineer
Engineer, mining
Energy engineer
Technical sales engineer
Engineer, maintenance (IT)
Electrical engineer
Materials engineer
Engineering geologist
Communications engineer
Communications engineer
Engineer, maintenance
Manufacturing engineer
Geologist, engineering
Engineer, automotive
Engineer, maintenance
Engineer, energy
Automotive engineer
Engineer, maintenance (IT)
Production engineer
Structural engineer
Engineer, manufacturing systems
Engineer, manufacturing
Engineer, structural
Structural engineer
Energy engineer
Engineer, maintenance (IT)
Engineer, electronics
Site engineer
Aeronautical engineer
Engineer, site
Civil engineer, consulting
Electronics engineer
Engineer, manufacturing
Chemical engineer
Electrical engineer
Engineer, civil (consulting)
Technical sales engineer
Engineer, production
Civil engineer, contracting
Engineer, electrical
Engineer, electrical
Broadcast engineer
Civil engineer, consulting
Engineer, energy
Software engineer
Communications engineer
Biomedical engineer
Engineer, mining
Engineer, communications
Agricultural engineer
Civil engineer, consulting
Structural engineer
Engineering geologist
Manufacturing engineer
Civil engineer, contracting
Engineer, materials
Automotive engineer
Engineer, communications
Mining engineer
Geologist, engineering
Engineer, site
Manufacturing engineer
Agricultural engineer
Engineer, land
Engineer, manufacturing
Engineer, biomedical
Engineer, civil (contracting)
Engineer, mining
Engineer, aeronautical
Engineer, automotive
Civil engineer, contracting
Engineer, materials
Engineer, manufacturing
Civil engineer, consulting
Engineer, structural
Agricultural engineer
Engineer, manufacturing systems
Geologist, engineering
Aeronautical engineer
Contracting civil engineer
Engineer, water
Manufacturing systems engineer
Automotive engineer
Engineer, electronics
Automotive engineer
Engineer, control and instrumentation
Engineer, aeronautical
Engineer, structural
Engineer, structural
Engineer, maintenance (IT)
Mining engineer
Network engineer
Engineer, water
Mining engineer
Materials engineer
Technical sales engineer
Engineer, maintenance (IT)
Engineer, production
Engineer, structural
Maintenance engineer
Engineer, structural
Automotive engineer
Engineer, structural
Chemical engineer
Structural engineer
Electrical engineer
Engineer, manufacturing
Water engineer
Engineer, electrical
Production engineer
Engineer, chemical
Mechanical engineer
Consulting civil engineer
Chemical engineer
Mechanical engineer
Energy engineer
Engineer, biomedical
Network engineer
Engineer, land
Maintenance engineer
Engineer, electrical
Engineer, aeronautical
Contracting civil engineer
Engineer, agricultural
Engineer, electronics
Engineer, materials
Drilling engineer
Control and instrumentation engineer
Network engineer
Manufacturing engineer
Engineer, communications
Water engineer
Engineer, broadcasting (operations)
Engineer, control and instrumentation
Communications engineer
Software engineer
Civil engineer, contracting
Materials engineer
Engineer, materials
Materials engineer
Engineer, civil (contracting)
Geologist, engineering
Biomedical engineer
Electrical engineer
Maintenance engineer
Engineer, civil (contracting)
Engineer, water
Civil engineer, contracting
Building services engineer
Structural engineer
Engineer, civil (contracting)
Engineer, electrical
Engineer, building services
Building services engineer
Mining engineer
Maintenance engineer
Engineer, building services
Engineer, maintenance
Engineer, mining
Engineer, biomedical
Engineer, manufacturing systems
Electronics engineer
Engineer, mining
Broadcast engineer
Biomedical engineer
Structural engineer
Automotive engineer
Engineer, broadcasting (operations)
Biomedical engineer
Contracting civil engineer
Manufacturing systems engineer
Engineer, drilling
Energy engineer
Automotive engineer
Engineer, technical sales
Engineer, manufacturing systems
Contracting civil engineer
Biomedical engineer
Engineer, chemical
Consulting civil engineer
Engineer, electronics
Engineer, communications
Communications engineer
Network engineer
Drilling engineer
Electronics engineer
Engineer, chemical
Engineer, electronics
Chemical engineer
Civil engineer, consulting
Engineer, electrical
Engineer, civil (contracting)
Engineer, automotive
Engineer, technical sales
Automotive engineer
Automotive engineer
Consulting civil engineer
Building services engineer
Manufacturing systems engineer
Engineer, aeronautical
Engineer, site
Engineer, manufacturing
Chemical engineer
Engineer, building services
Water engineer
Engineer, automotive
Engineer, maintenance
Engineer, drilling
Engineer, agricultural
Drilling engineer
Mechanical engineer
Aeronautical engineer
Engineer, electronics
Engineering geologist
Engineer, maintenance (IT)
Engineer, communications
Civil engineer, contracting
Building services engineer
Civil engineer, contracting
Network engineer
Control and instrumentation engineer
Biomedical engineer
Network engineer
Electronics engineer
Technical sales engineer
Engineer, communications
Engineer, land
Engineer, control and instrumentation
Technical sales engineer
Engineer, aeronautical
Agricultural engineer
Engineer, agricultural
Water engineer
Engineer, drilling
Engineer, communications
Engineer, land
Engineer, materials
Engineer, structural
Water engineer
Control and instrumentation engineer
Electrical engineer
Geologist, engineering
Production engineer
Aeronautical engineer
Electrical engineer
Electrical engineer
Engineer, chemical
Engineer, electronics
Engineer, electrical
Engineer, broadcasting (operations)
Engineer, aeronautical
Engineer, manufacturing systems
Water engineer
Engineer, land
Engineer, civil (contracting)
Engineer, automotive
Manufacturing engineer
Civil engineer, consulting
Electronics engineer
Control and instrumentation engineer
Engineer, civil (consulting)
Engineer, broadcasting (operations)
Engineer, broadcasting (operations)
Engineer, technical sales
Engineer, building services
Automotive engineer
Biomedical engineer
Building services engineer
Engineer, biomedical
Control and instrumentation engineer
Engineer, petroleum
Engineer, production
Materials engineer
Communications engineer
Engineer, agricultural
Engineer, land
Electrical engineer
Electronics engineer
Engineer, civil (contracting)
Biomedical engineer
Energy engineer
Materials engineer
Engineer, control and instrumentation
Engineer, water
Engineer, site
Mechanical engineer
Geologist, engineering
Contracting civil engineer
Engineer, aeronautical
Automotive engineer
Automotive engineer
Engineer, water
Drilling engineer
Automotive engineer
Engineer, building services
Chemical engineer
Engineer, water
Petroleum engineer
Engineer, structural
Mining engineer
Mechanical engineer
Structural engineer
Structural engineer
Engineer, civil (consulting)
Maintenance engineer
Agricultural engineer
Drilling engineer
Engineer, materials
Drilling engineer
Engineer, chemical
Water engineer
Civil engineer, contracting
Electrical engineer
Engineer, control and instrumentation
Geologist, engineering
Engineer, energy
Electrical engineer
Mining engineer
Contracting civil engineer
Engineer, energy
Engineer, land
Engineer, water
Production engineer
Broadcast engineer
Engineer, building services
Network engineer
Software engineer
Biomedical engineer
Engineer, chemical
Engineer, automotive
Software engineer
Engineer, energy
Building services engineer
Network engineer
Aeronautical engineer
Engineer, mining
Engineer, building services
Engineer, technical sales
Engineer, manufacturing systems
Materials engineer
Engineer, technical sales
Manufacturing systems engineer
Water engineer
Engineer, materials
Civil engineer, contracting
Engineer, water
Consulting civil engineer
Materials engineer
Engineer, water
Software engineer
Contracting civil engineer
Engineer, maintenance (IT)
Engineer, maintenance (IT)
Engineer, energy
Engineer, broadcasting (operations)
Engineer, broadcasting (operations)
Engineer, building services
Maintenance engineer
Engineer, manufacturing systems
Electronics engineer
Structural engineer
Engineer, electrical
Engineer, petroleum
Engineer, maintenance
Materials engineer
Engineer, land
Engineer, drilling
Drilling engineer
Mechanical engineer
Engineer, site
Control and instrumentation engineer
Geologist, engineering
Chemical engineer
Manufacturing engineer
Engineer, aeronautical
Engineer, petroleum
Engineer, agricultural
Consulting civil engineer
Engineer, chemical
Water engineer
Mechanical engineer
Engineer, manufacturing
Petroleum engineer
Communications engineer
Engineer, automotive
Communications engineer
Consulting civil engineer
Engineer, mining
Mining engineer
Structural engineer
Engineer, structural
Structural engineer
Biomedical engineer
Engineer, mining
Engineer, petroleum
Automotive engineer
Engineer, electrical
Engineer, electronics
Engineer, aeronautical
Civil engineer, contracting
Engineer, broadcasting (operations)
Engineer, manufacturing
Engineer, maintenance
Engineer, maintenance
Building services engineer
Engineer, land
Engineer, drilling
Engineer, electrical
Engineer, structural
Engineer, maintenance
Geologist, engineering
Civil engineer, contracting
Engineer, site
Engineer, water
Engineer, petroleum
Network engineer
Engineer, production
Network engineer
Mechanical engineer
Engineering geologist
Engineering geologist
Site engineer
Site engineer
Engineer, biomedical
Network engineer
Engineer, communications
Network engineer
Engineer, automotive
Engineering geologist
Engineer, civil (contracting)
Production engineer
Structural engineer
Engineer, biomedical
Mining engineer
Production engineer
Engineer, communications
Engineer, broadcasting (operations)
Materials engineer
Engineer, land
Engineer, agricultural
Mining engineer
Engineer, production
Engineer, maintenance (IT)
Engineer, maintenance (IT)
Engineer, broadcasting (operations)
Consulting civil engineer
Site engineer
Engineer, electrical
Engineer, materials
Petroleum engineer
Electrical engineer
Engineer, agricultural
Control and instrumentation engineer
Agricultural engineer
Energy engineer
Engineer, water
Engineer, mining
Engineer, chemical
Engineer, electronics
Engineer, agricultural
Engineer, petroleum
Production engineer
Civil engineer, contracting
Energy engineer
Production engineer
Engineer, land
Civil engineer, contracting
Software engineer
Structural engineer
Communications engineer
Chemical engineer
Engineer, civil (consulting)
Civil engineer, contracting
Automotive engineer
Engineer, control and instrumentation
Engineer, building services
Structural engineer
Engineer, automotive
Site engineer
Control and instrumentation engineer
Materials engineer
Engineer, electronics
Engineer, water
Biomedical engineer
Engineer, production
Manufacturing systems engineer
Engineer, building services
Engineer, manufacturing
Engineer, structural
Engineer, building services
Civil engineer, contracting
Technical sales engineer
Engineer, aeronautical
Contracting civil engineer
Engineer, aeronautical
Engineer, building services
Engineer, aeronautical
Engineer, biomedical
Manufacturing systems engineer
Electronics engineer
Engineer, petroleum
Technical sales engineer
Software engineer
Engineer, materials
Drilling engineer
Engineer, production
Engineer, building services
Contracting civil engineer
Engineer, water
Engineer, site
Engineer, energy
Technical sales engineer
Technical sales engineer
Automotive engineer
Maintenance engineer
Agricultural engineer
Petroleum engineer
Engineer, agricultural
Mining engineer
Engineer, petroleum
Petroleum engineer
Engineer, structural
Electronics engineer
Electrical engineer
Engineer, manufacturing
Electrical engineer
Biomedical engineer
Production engineer
Broadcast engineer
Engineer, land
Engineer, energy
Engineer, water
Technical sales engineer
Engineer, automotive
Engineer, agricultural
Aeronautical engineer
Network engineer
Engineer, maintenance
Consulting civil engineer
Engineer, automotive
Mining engineer
Water engineer
Engineer, manufacturing
Engineer, communications
Engineer, technical sales
Engineer, biomedical
Mining engineer
Automotive engineer
Mining engineer
Communications engineer
Site engineer
Broadcast engineer
Maintenance engineer
Engineer, agricultural
Electrical engineer
Engineer, civil (contracting)
Petroleum engineer
Petroleum engineer
Electronics engineer
Site engineer
Production engineer
Engineer, drilling
Engineer, civil (contracting)
Civil engineer, contracting
Biomedical engineer
Software engineer
Contracting civil engineer
Engineer, biomedical
Engineer, maintenance
Engineer, water
Manufacturing systems engineer
Aeronautical engineer
Maintenance engineer
Broadcast engineer
Engineer, biomedical
Engineer, site
Mining engineer
Engineer, drilling
Engineer, drilling
Engineer, electrical
Engineer, broadcasting (operations)
Engineer, water
Communications engineer
Electronics engineer
Engineer, chemical
Engineer, building services
Network engineer
Petroleum engineer
Electrical engineer
Materials engineer
Petroleum engineer
Engineer, broadcasting (operations)
Engineer, aeronautical
Engineer, water
Engineer, water
Contracting civil engineer
Chemical engineer
Mining engineer
Engineer, control and instrumentation
Site engineer
Engineering geologist
Civil engineer, contracting
Engineer, water
Drilling engineer
Engineer, land
Petroleum engineer
Aeronautical engineer
Manufacturing engineer
Petroleum engineer
Civil engineer, consulting
Energy engineer
Maintenance engineer
Aeronautical engineer
Petroleum engineer
Engineer, electrical
Electrical engineer
Engineer, water
Engineer, automotive
Engineer, broadcasting (operations)
Drilling engineer
Contracting civil engineer
Biomedical engineer
Engineer, maintenance (IT)
Engineering geologist
Engineer, control and instrumentation
Engineer, manufacturing
Software engineer
Chemical engineer
Structural engineer
Engineer, civil (consulting)
Biomedical engineer
Engineer, water
Engineer, materials
Engineer, communications
Energy engineer
Engineer, energy
Manufacturing engineer
Engineer, electronics
Engineer, manufacturing systems
Engineer, maintenance
Drilling engineer
Network engineer
Civil engineer, contracting
Communications engineer
Electronics engineer
Biomedical engineer
Engineer, civil (contracting)
Engineer, automotive
Production engineer
Contracting civil engineer
Engineer, aeronautical
Manufacturing systems engineer
Energy engineer
Civil engineer, contracting
Engineer, maintenance
Control and instrumentation engineer
Engineer, energy
Chemical engineer
Energy engineer
Engineer, building services
Building services engineer
Engineer, land
Engineer, technical sales
Engineer, maintenance (IT)
Structural engineer
Petroleum engineer
Technical sales engineer
Drilling engineer
Materials engineer
Software engineer
Software engineer
Engineer, biomedical
Engineer, agricultural
Automotive engineer
Engineer, manufacturing systems
Engineer, manufacturing
Biomedical engineer
Engineer, broadcasting (operations)
Mining engineer
Engineer, control and instrumentation
Engineer, materials
Engineer, automotive
Engineer, civil (contracting)
Engineer, biomedical
Contracting civil engineer
Aeronautical engineer
Control and instrumentation engineer
Civil engineer, consulting
Chemical engineer
Engineer, civil (contracting)
Engineer, petroleum
Biomedical engineer
Engineer, maintenance
Engineer, civil (consulting)
Agricultural engineer
Structural engineer
Network engineer
Technical sales engineer
Engineer, production
Technical sales engineer
Engineer, civil (contracting)
Drilling engineer
Network engineer
Engineer, building services
Building services engineer
Biomedical engineer
Automotive engineer
Engineer, manufacturing
Consulting civil engineer
Production engineer
Engineer, building services
Engineer, materials
Petroleum engineer
Structural engineer
Engineer, communications
Engineer, technical sales
Network engineer
Communications engineer
Engineer, biomedical
Engineer, biomedical
Automotive engineer
Broadcast engineer
Engineer, structural
Civil engineer, contracting
Drilling engineer

# 10. Find The Email of the person with the following IP Address: 132.207.160.22

In [27]:
#Step:1 Retrive all the Column names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [28]:
#Step:2 Find the Person who booked from the given IP address
df['IP Address']=='132.207.160.22'   #gives boolean data

0       False
1       False
2        True
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: IP Address, Length: 10000, dtype: bool

In [29]:
#Step:3 Pass that boolean data to the data frame to get the details 
df[df['IP Address']=='132.207.160.22']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [30]:
#Step:4 Finding only the name of the person who booked from the given IP address 
df[df['IP Address']=='132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

# 11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?

In [31]:
#Step:1 Retrive all the columns names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [32]:
#Step:2 Retrive the Colun Data we want to work 
df['CC Provider']

0                      JCB 16 digit
1                        Mastercard
2                      JCB 16 digit
3                          Discover
4       Diners Club / Carte Blanche
                   ...
9995                   JCB 15 digit
9996                   JCB 16 digit
9997                  VISA 16 digit
9998               American Express
9999                   JCB 15 digit
Name: CC Provider, Length: 10000, dtype: object

In [33]:
#Step:3 Find the Mastercard CC Provider 
df['CC Provider']=='Mastercard'     #gives boolean data

0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: CC Provider, Length: 10000, dtype: bool

In [34]:
#Step:4 Passing that boolean array to dataframe to Retrive the Row details
df[df['CC Provider']=='Mastercard']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337758e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6.011350e+15,Dec-22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4.615000e+12,Mar-22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6.011050e+15,Sep-16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
41,"779 Sydney Keys Apt. 119\nAnthonyside, NH 2179...",21 lh,PM,Mozilla/5.0 (Windows; U; Windows 98) AppleWebK...,Scott-Fuller,4.547562e+15,Aug-20,716,Mastercard,kimberlygaines@yahoo.com,Tax inspector,246.108.171.137,ru,23.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9947,"32827 Carl Inlet\nSouth Nicole, NY 38081-6636",40 Dp,PM,Mozilla/5.0 (Windows; U; Windows 95) AppleWebK...,Pruitt-Flores,3.158564e+15,Mar-17,386,Mastercard,josephsmith@gmail.com,Textile designer,198.68.38.23,fr,49.61
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4.762920e+12,Mar-17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9954,"051 Samantha Wells Apt. 328\nScottborough, OR ...",11 vG,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_2...,"Mendoza, Zimmerman and Reilly",3.023230e+13,May-21,762,Mastercard,brownamy@perkins.com,"Presenter, broadcasting",61.97.84.101,it,87.15
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4.690860e+12,Jan-19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,1.800270e+14,Dec-24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83

In [35]:
#Step:5 Finding the data that who is having CC Provider as mastercard and having purchase greater than 50 
df[df['CC Provider']=='Mastercard']['Purchase Price']>50

1        True
18       True
31       True
35       True
41      False
        ...
9947    False
9948     True
9954     True
9981     True
9987     True
Name: Purchase Price, Length: 816, dtype: bool

In [36]:
#Step:5 Finding the number who is having CC Provider as mastercard and having purchase greater than 50 
len(df[df['CC Provider']=='Mastercard']['Purchase Price']>50)

816

# 12. Find the email of the person with the following Credit Card Number: 4664825258997302

In [37]:
#Step:1 Retrive all the columns names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [38]:
#Step:2 Retriving the column that we have to work 
df['Credit Card']

0       6.011929e+15
1       3.337758e+15
2       6.759580e+11
3       6.011579e+15
4       6.011457e+15
            ...
9995    3.429450e+14
9996    2.100330e+14
9997    6.011540e+15
9998    1.800030e+14
9999    4.139973e+15
Name: Credit Card, Length: 10000, dtype: float64

In [39]:
#Step:3 Finding the given Credit Card Number 
df['Credit Card']==4664825258997302      #Gives boolean array

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: Credit Card, Length: 10000, dtype: bool

In [40]:
#step:4 Pass That boolean array to the data frame to get the related row 
df[df['Credit Card'] == 4664825258997302]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9992,"885 Allen Mountains Apt. 230\nWallhaven, LA 16995",40 vH,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,Wells Ltd,4.664825e+15,Oct-20,431,Discover,bberry@wright.net,Set designer,174.173.51.32,de,67.96

In [41]:
#Step:5 Find the Email only in the column
df[df['Credit Card'] == 4664825258997302]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

# 13. How many people purchase during the AM and how many people purchase during the PM

In [42]:
#Step:1 Retrive all the Column Names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [43]:
#Step:2 Retriving the column that we have to work 
df['AM or PM']

0       PM
1       PM
2       PM
3       PM
4       AM
        ..
9995    PM
9996    AM
9997    AM
9998    PM
9999    AM
Name: AM or PM, Length: 10000, dtype: object

In [44]:
#Step:3 Finding the Number of AM orders  and the PM orders
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

# 14. How many people have a credit card that expires in 2020?

In [45]:
#Step:1 Retrive all the Column Names
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [46]:
#Step:2 Retrive the Column that we want to work 
df['CC Exp Date']

0       Feb-20
1       Nov-18
2       Aug-19
3       Feb-24
4       Oct-25
         ...
9995    Mar-22
9996    Jul-25
9997    May-21
9998    Nov-17
9999    Feb-19
Name: CC Exp Date, Length: 10000, dtype: object

In [47]:
#Step:3 Creating a function to find the exp year of Credit Card
def findexp():
    cnt=0
    for date in df['CC Exp Date']:
        if date.split('-')[1]=='20':
            cnt=cnt + 1
    return cnt

In [48]:
#Step:4 Finding the Number of people that having their Credit card expiry in 2020
print('Number of people having their Credit card expiry in 2020:',findexp())

Number of people having their Credit card expiry in 2020: 988